<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/images/Logo.png" type="">

    <title> LETO Trends </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />

    <style>
        .custom-btn {
            display: inline-block;
            font-family: 'Arial', sans-serif;
            font-size: 14px;
            color: #000000;
            padding: 10px 20px;
            background-color: #d8dbdf; /* 버튼의 기본 배경색 (회색) */
            border: none; /* 테두리 제거 */
            border-radius: 5px; /* 둥근 모서리 */
            cursor: pointer; /* 마우스 포인터 모양 변경 */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
            font-weight: bold; /* 폰트 굵기 조정 */
            transition: background-color 0.3s, transform 0.3s; /* 배경색과 크기 변화 트랜지션 */
            text-decoration: none;
            margin: 5px;
        }
        .custom-btn:hover {
            background-color: #b3b7bb; /* 조금 더 짙은 회색 */
            transform: translateY(-2px);
        }
        .custom-btn:active {
            background-color: #545b62; /* 조금 더 짙은 회색 */
            transform: translateY(-2px);
        }
        .favorite-container p {
            font-family: 'Arial', sans-serif;
            font-size: 16px;
            color: #333;
            line-height: 1.6;
        }

        .favorite-container strong {
            font-weight: bold;
            color: #000;
        }
        body.dark-mode {
            color: #f2f2f2;
            background-color: #18283b;
        }
        .fixed-button {
            position: fixed;
            bottom: 20px; /* 화면 하단에서 20px 위 */
            right: 20px; /* 화면 오른쪽에서 20px 왼쪽 */
            padding: 10px 20px;
            background-color: #6c757d; /* 버튼의 기본 배경색 (회색) */
            color: #fff; /* 텍스트 색상 */
            border: none; /* 테두리 제거 */
            border-radius: 5px; /* 둥근 모서리 */
            cursor: pointer; /* 마우스 포인터 모양 변경 */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
            font-size: 16px; /* 폰트 크기 조정 */
            font-weight: bold; /* 폰트 굵기 조정 */
            transition: background-color 0.3s, transform 0.3s; /* 배경색과 크기 변화 트랜지션 */
        }

        .fixed-button:hover {
            background-color: #5a6268; /* 호버 시 배경색 (더 어두운 회색) */
            transform: translateY(-2px); /* 호버 시 약간 위로 이동 */
        }

        .fixed-button:active {
            background-color: #545b62; /* 클릭 시 배경색 (더 어두운 회색) */
            transform: translateY(1px); /* 클릭 시 약간 아래로 이동 */
        }

        .fixed-button:focus {
            outline: none; /* 포커스 시 기본 테두리 제거 */
            box-shadow: 0 0 0 3px rgba(108, 117, 125, 0.5); /* 포커스 시 테두리 그림자 */
        }
    </style>
</head>

<body class="sub_page">

<div class="hero_area">

    <div class="hero_bg_box">
        <div class="bg_img_box">
            <img src="/images/hero-bg.png" alt="">
        </div>
    </div>

    <div th:insert="~{/fragments/topFragment :: topFragment}"></div>
</div>


<!-- service section -->

<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container">
            <div class="heading_container heading_center">
                <h1>
                    즐겨찾기 <span>목록</span>
                </h1>
                <br>
                <p>즐겨찾기 목록을 클릭하면 이전에 추가한 차트를 바로 확인할 수 있습니다.</p>
                <div>
                    <br>
                    <form action="/calendarFavoriteUrl" method="post">
                        <button class="custom-btn" type="button" onclick="window.location.href='calendar'">검색화면으로</button>
                        <button class="custom-btn" type="submit" name="removeAllUrl" value="1">즐겨찾기 전체 삭제</button>
                    </form>
                    <br>
                </div>
                <div th:if="${isTrue1}" class="favorite-container">
                    <button class="custom-btn" th:onclick="|location.href='@{${url1}}'|">
                        <p>검색어1 : <strong><span th:utext="${#strings.replace(url1query1, '+', ' ')}"></span></strong>
                            <span th:if="${!#strings.isEmpty(url1query2)}">, 검색어2 : <strong><span th:utext="${#strings.replace(url1query2, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url1query3)}">, 검색어3 : <strong><span th:utext="${#strings.replace(url1query3, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url1query4)}">, 검색어4 : <strong><span th:utext="${#strings.replace(url1query4, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url1query5)}">, 검색어5 : <strong><span th:utext="${#strings.replace(url1query5, '+', ' ')}"></span></strong></span><br>
                            기간 : <strong><span th:text="${url1year1}"></span>-<span th:text="${url1month1}"></span>-<span th:text="${url1day1}"></span>~<span th:text="${url1year2}"></span>-<span th:text="${url1month2}"></span>-<span th:text="${url1day2}"></span></strong>,
                            단위 : <strong><span th:text="${url1select_day_week_month}"></span></strong>,
                            범위 : <strong><span th:text="${url1device}"></span></strong>,
                            성별 : <strong><span th:text="${url1gender}"></span></strong>,
                            연령 : <strong><span th:each="url1age1, url1age1State : ${url1age1}"><span th:text="${url1age1}"></span><span th:if="${url1age1State.index lt (url1age1State.size)-1}">,</span></span></span></strong><br>
                    </button>
                    <form action="/calendarFavoriteUrl" method="post" style="display:inline;">
                        <button class="custom-btn" type="submit" name="removeUrl1" value="1">삭제</button>
                    </form>
                </div>
                <br>
                <div th:if="${isTrue2}" class="favorite-container">
                    <button class="custom-btn" th:onclick="|location.href='@{${url2}}'|">
                        <p>검색어1 : <strong><span th:utext="${#strings.replace(url2query1, '+', ' ')}"></span></strong>
                            <span th:if="${!#strings.isEmpty(url2query2)}">, 검색어2 : <strong><span th:utext="${#strings.replace(url2query2, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url2query3)}">, 검색어3 : <strong><span th:utext="${#strings.replace(url2query3, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url2query4)}">, 검색어4 : <strong><span th:utext="${#strings.replace(url2query4, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url2query5)}">, 검색어5 : <strong><span th:utext="${#strings.replace(url2query5, '+', ' ')}"></span></strong></span><br>
                            기간 : <strong><span th:text="${url2year1}"></span>-<span th:text="${url2month1}"></span>-<span th:text="${url2day1}"></span>~<span th:text="${url2year2}"></span>-<span th:text="${url2month2}"></span>-<span th:text="${url2day2}"></span></strong>,
                            단위 : <strong><span th:text="${url2select_day_week_month}"></span></strong>,
                            범위 : <strong><span th:text="${url2device}"></span></strong>,
                            성별 : <strong><span th:text="${url2gender}"></span></strong>,
                            연령 : <strong><span th:each="url2age1, url2age2State : ${url2age1}"><span th:text="${url2age1}"></span><span th:if="${url2age1State.index lt (url2age1State.size)-1}">,</span></span></span></strong><br>
                    </button>
                    <form action="/calendarFavoriteUrl" method="post" style="display:inline;">
                        <button class="custom-btn" type="submit" name="removeUrl2" value="2">삭제</button>
                    </form>
                </div>

                <br>
                <div th:if="${isTrue3}" class="favorite-container">
                    <button class="custom-btn" th:onclick="|location.href='@{${url3}}'|">
                        <p>검색어1 : <strong><span th:utext="${#strings.replace(url3query1, '+', ' ')}"></span></strong>
                            <span th:if="${!#strings.isEmpty(url3query2)}">, 검색어2 : <strong><span th:utext="${#strings.replace(url3query2, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url3query3)}">, 검색어3 : <strong><span th:utext="${#strings.replace(url3query3, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url3query4)}">, 검색어4 : <strong><span th:utext="${#strings.replace(url3query4, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url3query5)}">, 검색어5 : <strong><span th:utext="${#strings.replace(url3query5, '+', ' ')}"></span></strong></span><br>
                            기간 : <strong><span th:text="${url3year1}"></span>-<span th:text="${url3month1}"></span>-<span th:text="${url3day1}"></span>~<span th:text="${url3year2}"></span>-<span th:text="${url3month2}"></span>-<span th:text="${url3day2}"></span></strong>,
                            단위 : <strong><span th:text="${url3select_day_week_month}"></span></strong>,
                            범위 : <strong><span th:text="${url3device}"></span></strong>,
                            성별 : <strong><span th:text="${url3gender}"></span></strong>,
                            연령 : <strong><span th:each="url3age1, url3age1State : ${url3age1}"><span th:text="${url3age1}"></span><span th:if="${url3age1State.index lt (url3age1State.size)-1}">,</span></span></span></strong><br>
                    </button>
                    <form action="/calendarFavoriteUrl" method="post" style="display:inline;">
                        <button class="custom-btn" type="submit" name="removeUrl3" value="3">삭제</button>
                    </form>
                </div>

                <br>
                <div th:if="${isTrue4}" class="favorite-container">
                    <button class="custom-btn" th:onclick="|location.href='@{${url4}}'|">
                        <p>검색어1 : <strong><span th:utext="${#strings.replace(url4query1, '+', ' ')}"></span></strong>
                            <span th:if="${!#strings.isEmpty(url4query2)}">, 검색어2 : <strong><span th:utext="${#strings.replace(url4query2, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url4query3)}">, 검색어3 : <strong><span th:utext="${#strings.replace(url4query3, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url4query4)}">, 검색어4 : <strong><span th:utext="${#strings.replace(url4query4, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url4query5)}">, 검색어5 : <strong><span th:utext="${#strings.replace(url4query5, '+', ' ')}"></span></strong></span><br>
                            기간 : <strong><span th:text="${url4year1}"></span>-<span th:text="${url4month1}"></span>-<span th:text="${url4day1}"></span>~<span th:text="${url4year2}"></span>-<span th:text="${url4month2}"></span>-<span th:text="${url4day2}"></span></strong>,
                            단위 : <strong><span th:text="${url4select_day_week_month}"></span></strong>,
                            범위 : <strong><span th:text="${url4device}"></span></strong>,
                            성별 : <strong><span th:text="${url4gender}"></span></strong>,
                            연령 : <strong><span th:each="url4age1, url4age1State : ${url4age1}"><span th:text="${url4age1}"></span><span th:if="${url4age1State.index lt (url4age1State.size)-1}">,</span></span></span></strong><br>
                    </button>
                    <form action="/calendarFavoriteUrl" method="post" style="display:inline;">
                        <button class="custom-btn" type="submit" name="removeUrl4" value="4">삭제</button>
                    </form>
                </div>

                <br>
                <div th:if="${isTrue5}" class="favorite-container">
                    <button class="custom-btn" th:onclick="|location.href='@{${url5}}'|">
                        <p>검색어1 : <strong><span th:utext="${#strings.replace(url5query1, '+', ' ')}"></span></strong>
                            <span th:if="${!#strings.isEmpty(url5query2)}">, 검색어2 : <strong><span th:utext="${#strings.replace(url5query2, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url5query3)}">, 검색어3 : <strong><span th:utext="${#strings.replace(url5query3, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url5query4)}">, 검색어4 : <strong><span th:utext="${#strings.replace(url5query4, '+', ' ')}"></span></strong></span>
                            <span th:if="${!#strings.isEmpty(url5query5)}">, 검색어5 : <strong><span th:utext="${#strings.replace(url5query5, '+', ' ')}"></span></strong></span><br>
                            기간 : <strong><span th:text="${url5year1}"></span>-<span th:text="${url5month1}"></span>-<span th:text="${url5day1}"></span>~<span th:text="${url5year2}"></span>-<span th:text="${url5month2}"></span>-<span th:text="${url5day2}"></span></strong>,
                            단위 : <strong><span th:text="${url5select_day_week_month}"></span></strong>,
                            범위 : <strong><span th:text="${url5device}"></span></strong>,
                            성별 : <strong><span th:text="${url5gender}"></span></strong>,
                            연령 : <strong><span th:each="url5age1, url5age1State : ${url5age1}"><span th:text="${url5age1}"></span><span th:if="${url5age1State.index lt (url5age1State.size)-1}">,</span></span></strong><br>
                    </button>
                    <form action="/calendarFavoriteUrl" method="post" style="display:inline;">
                        <button class="custom-btn" type="submit" name="removeUrl5" value="5">삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<button id="dark-mode-toggle" class="fixed-button">
    <i id="dark-mode-icon" class="fas fa-toggle-off"></i> Dark Mode
</button>
<script>
    const darkModeKey = 'darkMode'; // 로컬 스토리지에 저장되는 키의 이름을 'darkMode'로 통일

    document.getElementById("dark-mode-toggle").addEventListener("click", function() {
        var icon = document.getElementById("dark-mode-icon");
        var body = document.body;

        if (body.classList.contains("dark-mode")) {
            body.classList.remove("dark-mode");
            body.setAttribute('data-theme', 'light');
            icon.classList.remove("fa-toggle-on");
            icon.classList.add("fa-toggle-off");
            localStorage.setItem(darkModeKey, 'false');
        } else {
            body.classList.add("dark-mode");
            body.setAttribute('data-theme', 'dark');
            icon.classList.remove("fa-toggle-off");
            icon.classList.add("fa-toggle-on");
            localStorage.setItem(darkModeKey, 'true');
        }
    });

    function loadDarkMode() {
        var isDarkMode = localStorage.getItem(darkModeKey) === 'true';
        var icon = document.getElementById("dark-mode-icon");
        var body = document.body;

        if (isDarkMode) {
            body.classList.add("dark-mode");
            body.setAttribute('data-theme', 'dark');
            icon.classList.remove("fa-toggle-off");
            icon.classList.add("fa-toggle-on");
        } else {
            body.classList.remove("dark-mode");
            body.setAttribute('data-theme', 'light');
            icon.classList.remove("fa-toggle-on");
            icon.classList.add("fa-toggle-off");
        }
    }

    document.addEventListener("DOMContentLoaded", loadDarkMode);
</script>


<!-- end service section -->

<div th:insert="~{/fragments/bottomFragment :: bottomFragment}"></div>

<!-- jQery -->
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script type="text/javascript" src="/js/bootstrap.js"></script>
<!-- owl slider -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- custom js -->
<script type="text/javascript" src="/js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->

</body>

</html>