<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section class="about_section layout_padding" th:fragment="aboutFragment">
    <div class="container  ">
        <div class="heading_container heading_center">
            <h2>
                About <span>Us</span>
            </h2>
            <p>
                저희는 검색어 트렌드를 다양한 인사이트를 통해 비교분석 할 수 있도록 서비스를 제공합니다.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h3>
                        We Are LETO Trends
                    </h3>
                    <p>
                        검색어 트렌드는 시장의 흐름을 읽기에 중요한 지표라 할 수 있습니다.
                    </p>
                    <p>
                        저희는 검색어트렌드 비교분석 서비스를 제공해 사용자 여러분이 더욱 더 쉽고 자세히 시장의 흐름을 읽을 수 있도록 할 것입니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>