<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section class="service_section layout_padding" th:fragment="serviceFragment">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Our <span>Analysis</span>
                </h2>
                <p>
                    검색어 트렌드를 보다 더 다양한 인사이트를 통해 비교분석 할 수 있는 서비스를 제공합니다.
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="/images/s4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                차트
                            </h5>
                            <p>
                                검색어에 맞는 <br>검색조건 별
                                차트 <br>2개를 비교 분석
                            </p>
                            <a href="/index_result">
                                바로가기
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="/images/s5.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                워드 클라우드
                            </h5>
                            <p>
                                워드 클라우드를<br>통한 검색어 트렌드 비교분석
                            </p>
                            <a href="wordcloud">
                                바로가기
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="/images/s6.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                히트맵 캘린더
                            </h5>
                            <p>
                                히트맵 캘린더를<br>통한 검색어 트렌드 비교분석
                            </p>
                            <a href="calendar">
                                바로가기
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>